body{
    margin: 0;
    font-family: Arial, Helvetica Neue, sans-serif;
    background-image: url("../img/frutigeraerobg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* header elements */
header{
    text-align: center;
    background-image: linear-gradient(white, #cacaca);
    margin: 50px 150px 50px 150px;
    padding: 50px;
    border-radius: 20px;
}

header h2{
    color: slategray;
}

header img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
    float: left;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0)90%, rgba(0,0,0,0.4));
}

/* main/body elements */
main {
    display: grid;
    background-image: linear-gradient(white, #cacaca);
    margin: 50px 150px 50px 150px;
    padding: 50px;
    border-radius: 20px;
}

.container {
    position: relative;
    float: left;
    max-width: 150px;
    max-height: 150px;
    width: 50%;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container:hover img {
    opacity: 0.5;
}

.container:hover .middle {
    opacity: 1;
}

.middle {
    position: absolute;
    transition: .5s;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: linear-gradient(white, #cacaca);
    border-radius: 20px;
    padding: 10px;
}

main img {
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: 0.5s;
    backface-visibility: hidden;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0)90%, rgba(0,0,0,0.4));
}

main h1 {
    text-align: center;
}

main p {
    /* add later */
}

main span {
    text-align: center;
}

main a {
    color: steelblue;
    padding: 10px;
}

main a:hover {
    color: aquamarine;
}

/* footer elements */
footer{
    text-align: center;
    color: gray;
    background-image: linear-gradient(white, #cacaca);
    margin: 25px 25px 25px 25px;
    padding: 15px;
    border-radius: 20px;
}